out
dist
node_modules
.vscode-test/
*.vsix
.DS_Store

# Added for GitHub Package authentication via Personal Token
.npmrc
.vscode/settings.json
.vscode/*
*/Code/User/settings.json
**/settings.json
.vscode/settings.json
.vscode/settings.json
